body {
    background: radial-gradient(ellipse at center, #434A54 0%, #656D78 100%);
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    color: #c3c3c3;
    letter-spacing: 2px;
}
.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 1px solid #ccc;
    margin: 20px 20px ;
    cursor: pointer;
}

.cevir{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.dogru {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 150px;
    height: 150px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    background: url(http://nodeframework.com/assets/img/js.png) center center;
    background-size: 100% 100%;
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.back img {
    height: 150px;
    width: 150px;
}

.front .name {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 60px;
    left: 25%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.back p {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
}
.skor {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -170px;
    margin-top: -200px;
    background: #fff ;
    text-align: center;
    padding: 0 20px;
    color : #5b626e ;
    opacity: 0 ;
    z-index: -1;
    transform: translateX(200px);
    transition: all .5s ease-in-out;
}
p.skor-baslik {
    font-size : 30px ;
    color: #3a4659;
}
p.skor-tebrikler {
    font-size : 18px ;
    margin-bottom : 40px;
}
p.skor-puan , p.skor-yeni_rekor , p.skor-onceki_rekor {
    font-size : 14px ;
    text-align: left ;
    margin-top: 30px;
}
p.skor-yeni_oyun {
    margin-top: 60px;
}
p.skor-yeni_oyun a{
    text-decoration: none;
    font-size : 14px ;
    padding: 10px 20px ;
    background: #434A54;
    color: #fff;
    border: 1px solid #434A54;
    transition: all .3s ease-in-out;
}
p.skor-yeni_oyun a:hover{
    color: #434A54 ;
    background: #fff;
    border : 1px solid #434A54 ;
}
.goster-skor {
    opacity: 1;
    z-index: 1;
    transform: translateX(0);
}
.close-panel {
    position: absolute ;
    right: 10px;
    top: 10px;
}
.close {
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
}
.close:after {
    content: '';
    position: absolute;
    right: 50%;
    margin-right: -1px;
    top: 0;
    width: 2px ;
    height: 15px ;
    transform: rotate(45deg);
    background: #434A54;
}
.close:before {
    content: '';
    position: absolute;
    left: 50% ;
    margin-left: -1px;
    top: 0;
    width: 2px;
    height: 15px;
    transform: rotate(-45deg);
    background: #434A54;
}